* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.text {
	font-family: sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-stretch: ultra-expanded;
	margin-top: 2em;
}

.flex {
	display: flex;
	display: -webkit-flexbox;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	justify-content: center;
}

body {
	background: radial-gradient(#DBDBDB, #AAAAAA);
	flex-direction: column;
	height: 100vh;
}

#grid {
	width: 650px;
	height: 550px;
	margin: auto;
	margin-top: 3%;
	margin-bottom: 3%;
}

.cell {
	width: 80px;
	height:80px;
	background-color: white;
	margin: 5px;
}

.col:hover .cell {
	cursor: pointer;
	margin: 4px;
	width: 82px;
	height:82px;
}

button {
	border: 1px solid #91C8D3;
	padding: 10px;
	cursor: pointer;
	width: 115px;
	margin: 3px;
}

#yellow {
	background-color: yellow;
}

#red {
	background-color: red;
}

#yellow:hover, #red:hover {
	transform: scale(1.07);  /* Slightly enlarge the button */
}

.borderRadius {
	border-radius: 30px;
}

.fade {
	opacity: 30%;
}

footer {
	margin-top: auto;
}
